*{
   margin: 5px;
   padding: 10px;

}

body{
    background-color:rgb(222, 222, 228);
    color: rgb(17, 17, 17);
    text-align: center;
}
h1{background-color:rgb(222, 222, 228);
}
.apresentacao_links{
    display: flex;
    justify-content: space-beteween;
}  

.apresentacao_links_link{
    background-color: black;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 5px ;
    font-size: 24px;
    font-weight: 400;
    padding: 15px 0;
    text-decoration: none;
    color: #000000;
    font-family: Montserrat; sans-sarif;
}

    ul {margin: 0;
        padding:0;
        }
    .menu{background-color:black;
         width:100vw;
         }   
        
        .menu li{list-style: none; 
           
        }
        
.menu a {padding: 5px 10px;
            margin:0;
            border: 0px solid rgb(41, 6, 6); 
            background: rgb(19, 2, 2);
            text-decoration: none;
            color:#FFF;
            /* cantos arredondados */
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            border-radius:5px;
            }
            .menu a:hover {background: #CCC;color: #000; border-color: #000;
            }
            a{background-color: #22D4FD;
